name: Unit Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * *'
  pull_request:
    branches:
      - main

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      kubewarden: ${{ steps.filter.outputs.kubewarden }}
      sbomscanner: ${{ steps.filter.outputs.sbomscanner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Detect changed directories
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            kubewarden:
              - 'pkg/kubewarden/**'
            sbomscanner:
              - 'pkg/sbomscanner/**'
  unit-test-kubewarden:
    if: github.repository_owner == 'rancher' && ${{ needs.detect-changes.outputs.kubewarden == 'true' }}
    needs: detect-changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup Nodejs and npm
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: '20'

      - name: Setup yarn
        run: npm install -g yarn

      - name: Setup Nodejs with yarn caching
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: '20'
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Run tests
        run: |
          yarn test:ci
          mkdir -p coverage-artifacts/coverage/unit
          cp coverage/unit/coverage-final.json coverage-artifacts/coverage/coverage-unit.json

      - name: Upload coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{github.run_number}}-${{github.run_attempt}}-coverage
          path: coverage-artifacts/**/*
  unit-test-sbomscanner:
    if: github.repository_owner == 'rancher' && ${{ needs.detect-changes.outputs.sbomscanner == 'true' }}
    needs: detect-changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Setup yarn
        run: npm install -g yarn

      - name: Setup Nodejs with yarn caching
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Run tests and collect coverage
        run: |
          npm run test:ci:sbomscanner
          mkdir -p coverage-artifacts/coverage/sbomscanner/unit
          cp coverage/sbomscanner/unit/coverage-final.json coverage-artifacts/coverage/sbomscanner/coverage-unit.json

      - name: Upload coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{github.run_number}}-${{github.run_attempt}}-coverage
          path: coverage-artifacts/**/*
